/* Menu */
body{
  background-color: #eee7e7;
  font-family: 'Niramit', sans-serif;
}
h1{
color: #fcfafa;  
padding: 5%;
text-align: center;
font-family: 'Niramit', sans-serif;
}
.labelCard{
  margin-top: 5%;
}
.menu {
  position: absolute;
  top: 0;
  height: 100vh;
  /* viewport height, usa el 100% de la altura de la pantalla*/
  width: 90vw;
  /* viewport width 90% del an*/
  transition: 0.5s ease-out;
}
#menuNav{
  display: none;
}

.menu_closed {
  left: -90vw;
}

.menu_open {
  left: 0;
}
.menu{
  z-index: 10000000;
}
.close_button {
  /* configurando boton de cierre del navbar*/
  font-size: xx-large;
  color: white;
  position: absolute;
  right: 10px;
}
.menu_content {
  z-index: 10000000;
}
.menu_content {
  padding: 10px;
  margin-top: 20px;
}
.fa-money-bill-alt,.fa-calculator,.fa-user,.fa-question,.fa-home,.fa-door-closed{
  color:  #7a2828;
}

@media (min-width: 768px) {
  /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
  .menu {
    width: 20vw;
    /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
  }
  .menu_closed {
    left: -20vw;
  }
}/* Firt View */
.firstSection{
  width: 100vw;
  height: 100vh;
  background: #a73737;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imagenLogo {
  margin-top: 20%;
  height: 25%;
  width: 25%;
  align-items: center;
}

.labelCorreo {
  color: white;
  position: absolute;
  text-align: right;
}

.colorCorreo {
  color: white;
  text-align: center;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* View Display none */
.secondPart,.threeSection,.fourSection,.fiveSection,.sixSection {
  display: none;
  margin-top: 5%;
  
}


/* Home*/
.btn1,.btn2,.btn3,.btn4 {
  width: 80%;
  height: 100%;
  margin: 5%;
  background: #eca40aef;
  border: 0;
  font-size: 100%;
  color: white;
  padding: 2%;
  font-weight: bold;
}
.btnLogin{
  background: #eca40aef;
  border: 0;
  font-size: 100%;
  color: white;
  width: 20%;
}
.btnYellow{
  background: #eca40aef;
  color: rgb(15, 15, 15);
}
/* Question */
.tittleAnswer{
  color: rgb(10, 1, 1);
  padding: 5%;
  text-align: center;
}

/* Profile */
#photoUser{
  background-color: #eca40aef;
  margin-top: 5%;
  padding: 5%;
  text-align: center;
}
#cardUser {
  text-align: center;
  background-color: rgb(74, 74, 77);
  
}
/* Section of see balance on screen */
.inputCalcular{
  margin-top:  15%;
}

